<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header.ejs %>
      <div class="center-align">
        <a class="" href="/records/new">Add a Record</a>
      </div>
      <div class="row">
        <% for(let i=0; i<records.length; i++) { %>
          <div class="col s3">
            <div class="card">
              <div class="card-image">
                <img
                  src="<%=records[i].img%>"
                  alt="image of <%=records[i].artist%>'s <i><%=records[i].title%></i>"/>
              </div>
              <div class="card-content truncate">
                <a class="" href="/records/<%=records[i].id%>">
                  <%=records[i].artist%> - <br/>
                  <%=records[i].title%>
                </a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
