<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <% include ./partials/header.ejs %>
        <div class="">
          <h6>
            <% if(currentUser) { %>
                Logged in as <%=currentUser.username%>
              <% } else { %>
                not logged in
            <% } %>
          </h6>
        </div>
        <div id="addButton" class="center-align">
          <a class="btn-flat waves-effect" href="/records/new"><i class="material-icons left">add_box</i>Add a Record</a>
        </div>
      </div>
      <div id="main" class="row">
        <% for(let i=0; i<records.length; i++) { %>
          <div class="col s12 m6 l3 xl3">
            <a href="/records/<%=records[i].id%>">
              <div class="card hoverable">
                <div class="card-image">
                  <img
                    src="<%=records[i].img%>"
                    alt="image of <%=records[i].artist%>'s <i><%=records[i].title%></i>"/>
                </div>
                <div class="card-content truncate black-text">
                  <%=records[i].artist%> - <br/>
                  <%=records[i].title%>
                </div>
              </div>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
