<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <% include ./partials/header.ejs %>
        <% include ./partials/nav.ejs %>
      </div>
      <div class="row">
        <div class="col s6 right-align">
          <img src="<%=record.img%>" alt="image of <%=record.artist%>'s <i><%=record.title%></i>"/>
        </div>
        <div class="col s6 left-align">
          <ul>
            <li>Title: <%=record.title%></li>
            <li>Artist: <%=record.artist%></li>
            <li>Year: <%=record.year%></li>
            <li>Format: <%=record.format%></li>
            <li>Description: <%=record.description%></li>
          </ul>
          <!-- <form action="/records/<%=record.id%>/edit">
            <input type="submit" value="EDIT">
          </form> -->
          <a class="btn-small" href="/records/<%=record.id%>/edit">
            <i class="material-icons left">edit</i>EDIT</a>
          <form action="/records/<%=record.id%>?_method=DELETE" method="POST"  class="btn-small">
            <input type="submit" value="DELETE">
            <i class="material-icons left">delete-forever</i>
            <!-- <button class="btn-small"><i class="material-icons left">delete-forever</i>DELETE</button> -->
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
